# nodeJS dependency directories
node_modules/

# dotenv environment variable files
.env

# vim editor's buffer (temporary file)
*.swp

package-lock.json
yarn.lock

# Default output directory for compiled TypeScript code
dist/
